#root{
    width:800px;
    height:600px;
    background-color:skyblue;
}
.game_screen{
    width:inherit;
    height:inherit;
}
.game_screen_top{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-start;
    width:inherit;
    height:350px;
    background-image: url('http://localhost:8080/api/assets/png?image=alpha');
    background-repeat:no-repeat;
    background-size:cover;
}
.game_screen_log{
    width:633px;
    height:90px;
    color:black;
    font-family:Impact;
    text-shadow: 2px 2px 5px white;
    margin-left:10px;
    margin-top:10px;
}
.game_screen_monster{
    width:150px;
    height:100px;
    color:black;
    font-family:Impact;
    font-size:15px;
    text-shadow: 2px 2px 2px red;
    opacity:0.6;
}
.game_screen_sprites{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    width:inherit;
    height:250px;
    color:green;
}
.game_screen_character_sprites{
    

}
.game_screen_monster_sprites{
    

}

.game_screen_bottom{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-content:flex-start;
    width:inherit;
    height:155px;
    background-image: url('http://localhost:8080/api/assets/png?image=hud');
    background-repeat:no-repeat;
    background-size:cover;
}
.game_screen_player_stats{
    width:180px;
    padding-left:20px;
    padding-top:15px;
    height:inherit;
    color:white;
}
.game_screen_player_commands{
    width:380px;
    padding-top:15px;
    height:inherit;
    color:white;
}
.game_screen_minimap{
    width:200px;
    height:inherit;
    padding-top:15px;
    color:white;
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.whole_game_wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:inherit;
    height:inherit;
}
.game_title{
    color:red;
}
.party_setup{
    width:inherit;
    height:inherit;
}
.page_heading{
    height:70px;
    width:inherit;
    display:flex;
    justify-content:center;
}
.party_character_boxes{
    display:flex;
    align-content:flex-start;
    flex-wrap:wrap;
    
    width:inherit;
    height:530px;
    
}
.party_character_select_box{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-start;
    padding:10px;

    width:330px;
    height:160px;
    margin:20px;
    border:solid;
    border-radius:15px;
    box-shadow:5px 5px 10px red;
}
.party_character_complete_box{
    display:flex;
    justify-content:center;
    align-content:center;
    padding:10px;

    width:330px;
    height:160px;
    margin:20px;
    border-radius:15px;
    
}
.party_character_complete_button{
    width:160px;
    border-radius:160px;
    box-shadow: 5px 5px 10px green;
    font-family:impact;
    font-size:25px;
}
.party_character_image{
width:55px;
height:55px;
}
.party_character_text{
height:55px;
width:270px;
}
.party_character_backstory{
    width:inherit;
}
.game_start_options{
    
    border-radius:15px;
    height:100px;
    width:250px;
    font-size:30px;
}
.game_selector{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:inherit;
    height:inherit;
    
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
